body {
    background: linear-gradient(to right, #910142, #6c043c);
}

* {
    cursor: url('../_imagens/cursor.png'), none;
}

button {
    width: 120px;
    height: 50px;
    text-align: center;
    border: 3px solid #210123;
    background-color: #743455;
    color: #ffffff;
    border-radius: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    scale: 1.2;
}

div {
    display: flex;
    justify-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%-50%;
    flex-direction: row;
}